<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>UTS IF-733</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h1>About Me</h1>
    <ion-row>
      <ion-label>IF-733 AL</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>000 000 22805</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>Charles Commas</ion-label>
    </ion-row>

    <ion-row style="padding-top: 2em">Special Thanks</ion-row>
    <ion-row>
        https://petercoding.com/ionic/2019/05/05/side-menu-in-ionic4/
    </ion-row>
</ion-content>
